<nav class="navigation">
    <a href="/home" class="logo"><img src="assets/logo.png" alt="Articulate Angular"/></a>
    <ul class="tab-inner nav nav-pills">
        <!--<li class="tab-item" ui-route="/home" ng-class="{active:$uiRoute}">
            <a href="/home">
                &lt;!&ndash;<img class="tab-icon" src="assets/icons/icon-food.png">&ndash;&gt;
                <div class="tab-label">Home</div>
            </a>
        </li>-->
        <li class="tab-item" ui-route="/modules_updates" ng-class="{active:$uiRoute}">
            <a href="/modules_updates">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Modules and updates</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/irc" ng-class="{active:$uiRoute}">
            <a href="/irc">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">IRC</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/my_account" ng-class="{active:$uiRoute}">
            <a href="/my_account">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">My account</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/community" ng-class="{active:$uiRoute}">
            <a href="/community">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Community</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/docs" ng-class="{active:$uiRoute}">
            <a href="/docs">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Documentation</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/home" ng-class="{active:$uiRoute}">
            <a href="/home">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Home</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/about" ng-class="{active:$uiRoute}">
            <a href="/about">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">About</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/books" ng-class="{active:$uiRoute}">
            <a href="/books">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Books</div>
            </a>
        </li>

        <li class="tab-item" ui-route="/reading-list" ng-class="{active:$uiRoute}">
            <a href="/reading-list">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Reading List</div>
            </a>
        </li>

        <li class="tab-item" ui-route="/settings" ng-class="{active:$uiRoute}">
            <a href="/settings">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Settings</div>
            </a>
        </li>


        <li class="tab-item" ui-route="/tutorials" ng-class="{active:$uiRoute}">
            <a href="/tutorials">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Tutorials</div>
            </a>
        </li>

        <li class="tab-item" ui-route="/tips-and-tricks" ng-class="{active:$uiRoute}">
            <a href="/tips-and-tricks">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Tips and tricks</div>
            </a>
        </li>
    </ul>
</nav>