<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" href="../../common/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../common/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="side_menu.css">

    <script src="side_menu.js">     </script>


</head>
<body>



<div id="sp-nav" class="collapse out">
    <!-- put your menu in here -->

    <ul class="nav nav-pills nav-stacked span2 well side-menu">
    <li class="active"><a href="#">My account </a></li>
    <li><a href="#">Community</a></li>
    <li><a href="#">IRC</a></li>
    <li><a href="#">Modules and Directives</a></li>
    </ul>
</div>

<div id="sp-page">
    <!-- put your page content in here -->
    <div class="well">
        <button onclick="toggle()" data-toggle="collapse" data-target="#sp-nav"> Menu</button>

    </div>


    <div class="span8">
    Lorem ipsum lorem ipsum lorem ipsum
    </div>
</div>


<script src="../../common/bootstrap/js/bootstrap.js">

</script>


</body>
</html>