.btn-upd {
    margin-top: 10px;
}

.user-avatar {
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    height: 80%;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.list-no-bullets {
    list-style-type: none;
}

