<div ng-controller="AccountCtrl">


<div class="row pagination-centered">
    <div class="well col-md-4 col-md-offset-5"> My Account</div>
</div>


<div class="row">
    <div class=" well col-md-4 col-md-offset-5"><img src="user.jpg" class="img-responsive user-avatar" alt="avatar"/></div>

</div>


<div class="row pagination-centered">
    <div class="well col-md-4 col-md-offset-5">
        <div>Name: {{userName}}</div>

        <div>Email: {{userMail}}</div>

        <div>Account type: Free</div>

        <div>Favourite frameworks
            <ul class="list-no-bullets">
                <li> Angular</li>
                <li> Bootstrap</li>
                <li> ASP.NET</li>
            </ul>
        </div>

        <div>Favourite languages
            <ul class="list-no-bullets">
                <li> JavaScript</li>
                <li> TypeScript</li>
                <li> C#</li>
            </ul>
        </div>

        <button class="btn btn-primary" ng-click=" contact = true;">Contact the Team</button>
    </div>
</div>

<div class="row " ng-show="contact === true">
    <div class="well col-md-4 col-md-offset-5">
        <form novalidate="true">
            <div class="row-fluid">
                <div> My Name: <input type="text" class="span5" placeholder="{{userName}}" ng-model="newUserName"/></div>
                <div> My Email: <input type="text" class="span5" placeholder="{{userMail}}" ng-model="newUserMail"/></div>
                <div> My Phone Number: <input type="text" class="span5" placeholder="{{userMail}}" ng-model="newUserMail"/></div>
                <div> My City: <input type="text" class="span5" placeholder="{{userMail}}" ng-model="newUserMail"/></div>
                <div> My County: <input type="text" class="span5" placeholder="{{userMail}}" ng-model="newUserMail"/></div>
                <div> My Country: <input type="text" class="span5" placeholder="{{userMail}}" ng-model="newUserMail"/></div>
                Placeholder for dinamic option
                Placeholder for dinamic option


                <div class="col-md-10  btn-upd">
                    <button class="btn btn-primary" ng-click="contactZalmoxis();"> Update</button>
                </div>


            </div>

        </form>
    </div>
</div>

</div>

