<div ng-controller="AccountCtrl">

    <div class="row pagination-centered">
        <div class="well col-md-4 col-md-offset-5"> My Account</div>
    </div>


    <div class="row">
        <div class=" well col-md-4 col-md-offset-5"><img src="user.jpg" class="img-responsive user-avatar"
                                                         alt="avatar"/></div>

    </div>


    <div class="row pagination-centered">
        <div class="well col-md-4 col-md-offset-5">
            <div>Name: {{userName}}</div>

            <div>Email: {{userMail}}</div>

            <div>Account type: Free</div>

            <div>Favourite frameworks
                <ul class="list-no-bullets">
                    <li> Angular</li>
                    <li> Bootstrap</li>
                    <li> ASP.NET</li>
                </ul>
            </div>

            <div>Favourite languages
                <ul class="list-no-bullets">
                    <li> JavaScript</li>
                    <li> TypeScript</li>
                    <li> C#</li>
                </ul>
            </div>

            <button class="btn btn-primary" ng-click=" contact = true;">Contact the Team</button>
        </div>
    </div>

    <div class="row " ng-show="contact === true">
        <div class="well col-md-4 col-md-offset-5">
            <form novalidate="true">
                <div class="row-fluid">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon addon-zal">First Name</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cdFirstName"
                                   placeholder="John" ng-change="checkContactData('firstName')">
                        </div>

                        <div ng-show="errorList['firstName'] === true">
                            <p class="bg-danger"> First name must have between 5 and 30 characters.</p>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">Last Name</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cdLastName"
                                   placeholder="Smith" ng-change="checkContactData('lastName')">
                        </div>

                        <div ng-show="errorList['lastName'] === true">
                            <p class="bg-danger"> Last Name must have between 5 and 30 characters.</p>
                        </div>


                        <div class="input-group">
                            <div class="input-group-addon addon-zal" >Mail</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cdMail"
                                   placeholder="Your e-mail adress" ng-change="checkContactData('mail')">
                        </div>

                        <div ng-show="errorList['mail'] === true">
                            <p class="bg-danger"> Must be valid e-mail.</p>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">Phone Number</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cdPhone"
                                   placeholder="Phone Number" ng-change="checkContactData('phone')">
                        </div>

                        <div ng-show="errorList['phoneNumber'] === true">
                            <p class="bg-danger"> Must be valid phone number (depends on country).</p>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">Adress</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cd.Adress"
                                   placeholder="Your adress">
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">City</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cdCity"
                                   placeholder="Your City">
                        </div>

                        <div ng-show="errorList['county'] === true">
                            <p class="bg-danger"> Google couldn't find your city.</p>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">County</div>
                            <input type="text" class="form-control col-md-2 " ng-model="cd.County"
                                   placeholder="Your county">
                        </div>

                        <div ng-show="errorList['adress'] === true">
                            <p class="bg-danger"> Google couldn't find your county.</p>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon addon-zal">Country</div>
                            <select class="form-control" ng-options="c.name for c in countryList"  ng-model="cdCountry" ng-change="checkContactData('adress')">

                            </select>
                        </div>


                        <div class="input-group">
                            <div class="input-group-addon addon-zal">Motive</div>
                            <select class="form-control" ng-options="m.name for m in motivesList"  ng-model="selectedMotive">

                            </select>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon">{{selectedMotive.name}}</div>
                            <select class="form-control" ng-options="o.name for o in selectedMotive.options" ng-model="selectedUlteriorMotive">

                            </select>
                        </div>


                        <div id="map_canvas" style="float: right; height: 200px; width: 400px;"></div>

                    </div>


                    <div class="col-md-10  btn-upd">
                        <button class="btn btn-primary" ng-click="contactZalmoxis();"> Contact the Team</button>
                    </div>


                </div>

            </form>
        </div>
    </div>

</div>

