body {
    background-color: #00b3ee;
}

.front {
    background-color: #00b3ee;
    z-index: 2;
}

.back {
    color: #00b3ee;
    background-color: #00b3ee;
}

.show {
    color: antiquewhite;
    background-color: #0e5895;
    border-right: 4px solid #16A085;
}

.list {
    padding: 0;
    margin: 0;
}