<div ng-controller="LoginCtrl">

    <!--<div id="fb-root"></div>-->
    <!--<script>-->
        <!--window.fbAsyncInit = function() {-->
            <!--FB.init({-->
                <!--appId      : '750912588267247',-->
                <!--status     : true,-->
                <!--xfbml      : true-->
            <!--});-->
        <!--};-->

        <!--(function(d, s, id){-->
            <!--var js, fjs = d.getElementsByTagName(s)[0];-->
            <!--if (d.getElementById(id)) {return;}-->
            <!--js = d.createElement(s); js.id = id;-->
            <!--js.src = "//connect.facebook.net/en_US/all.js";-->
            <!--fjs.parentNode.insertBefore(js, fjs);-->
        <!--}(document, 'script', 'facebook-jssdk'));-->
    <!--</script>-->


    <div class="row pagination-centered">
        <div class="well col-md-3 col-md-offset-5"> Please login in order to use the app.</div>
    </div>


    <div class="row pagination-centered">
        <div class="well col-md-3 col-md-offset-5">
            <div class="form-group biginputgroups">
                <div class="input-group">
                    <div class="input-group-addon addon-zal">UserName</div>
                    <input type="text" class="form-control col-md-2 " ng-model="loginUserName"
                           placeholder="John">
                </div>

                <div ng-show="errorList['firstName'] === true">
                    <p class="bg-danger"> First name must have between 5 and 30 characters.</p>
                </div>

                <div class="input-group">
                    <div class="input-group-addon addon-zal">Password</div>
                    <input type="password" class="form-control col-md-2 " ng-model="loginPassword">
                </div>

                <div ng-show="errorList['lastName'] === true">
                    <p class="bg-danger"> Last Name must have between 5 and 30 characters.</p>
                </div>

                <div class="input-group">
                    <input type="button" value="Login" ng-click="loginUser()"/>
                </div>



                <div class="input-group">
                    <input type="button" class="btn btn-danger" id="btn1" value="Plain old JS Ajax" ng-click="callServer()"/>
                </div>

                <div class="input-group" ng-hide="isFbLoged">
                    <button ng-click="loginFB()">
                        <img src="assets/facebooklogin.jpg" alt="facebook login" />
                    </button>

                </div>

                <div class="input-group" ng-show="isFbLoged">
                    <button ng-click="logoutFB()">
                        <img src="assets/facebooklogout.jpg" alt="facebook logout"  />
                    </button>

                </div>




            </div>

        </div>


    </div>

    <div class="row pagination-centered" ng-show="isFbLoged">
        <div class="well col-md-3 col-md-offset-5">
            You have {{ friendsList.length}} friends;
        </div>
    </div>
</div>


</div>